/* Todas las etiquetas */
* {
    /* Márgenes */
    margin: 0;

    /* Relleno (margen interno) */
    padding: 0;

    /* Tamaño de las cajas */
    box-sizing: border-box;
}

/* asignar estilo a los contenedores principales*/
body{
    /*fondo url top left*/
    background: url(Assets/imagen-back.jpg)0 0 no-repeat;
    background-size:cover;
}

main{
    /* fondo con alpha al 85% */
    background-color: rgba(0, 0, 0, 0.85);
    /* ancho */
    width: 100%;
    max-width:650px;
    /* centar el contenedor */
    /* margenes: top right bottom left */
    margin: 0 auto 0 auto;
    /* Relleno: top right bottom left */
    padding:10px 10px 10px 10px;
}

/* Estilo del navegador */
nav {
    /* Espacio interno */
    padding: 20px;
    /* Alineación del contenido */
    text-align: center;
}

/* Estilo de los enlaces */
nav a {
    /* Color de fuente */
    color: rgb(252, 247, 249);
    /* Tipografía */
    font-family: "Poppins", sans-serif;
    /* Tamaño de fuente */
    font-size: 16px;
    /* Grosor de fuente */
    font-weight: 500;
    /* Quitar subrayado */
    text-decoration: none;
    /* Espacio entre los enlaces */
    margin: 0 15px;
}

/* Efecto al pasar el cursor */
nav a:hover {
    /* Cambiar color */
    color: rgb(246, 44, 196);
}

/* Estilo títulos */
h1 {
    /* Color de fuente */
    color: rgb(246, 44, 196);
    /* Tamaño de fuente */
    font-size: 60px;
    /* Tipografía */
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: bold;
    /* Alineación */
    text-align: center;
}

h2{
    /* Color de fuente */
    color: rgb(252, 247, 249);
    /* Tamaño de fuente */
    font-size: 35px;
    /* Tipografía */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    /* margenes: top right bottom left */
    margin:10px 0 10px 0
}

.parrafo-pink{
     /* Color de fuente */
    color: rgb(252, 247, 249);
    /* Tamaño de fuente */
    font-size: 15px;
    /* altura de linea */
    line-height: 18px;
    /* justificación del parroafo */
    text-align: justify;
    /* Tipografía */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* margenes: top right bottom left */
    margin:10px 0 10px 0
}

img{
    /* ancho */
    width: 100%;
}