/* Indice de estilo 


0. Generales / colores
1. Tipografia 
2. Header / cabecera
3. Enlaces / botones
4. Area destacada
*/

/* 0. Generales / colores */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

:root{
    --color-principal: #2589e1;
    --color-acento: #f4a811;
    --color-tercer: #581dda;
    --color-parrafo:#2d2c2e;
}

.area-destacada div{
    display: flex;
}



/* 1. Tipografia */
.titulo-principal{
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-principal);
  font-size: 30px;
}

.titulo-secundariol{
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-principal);
  font-size: 22px;
}

.parrafo {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
color: var(--color-parrafo);
font-size: 14px;
}

.texto-oculto{
    display: none;
}



/* 2. Header / cabecera */
#cabecera-principal{
    padding: 20px 2% 20px 2%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom:center;
    /* Borde:grosor tipo de color */
    border-bottom: 3px solid var(--color-principal);
}


/* 3. Enlaces / botones */
.boton-principal{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-principal);
    font-size: 20px;
    /* quito linea inferior */
    text-decoration: none;
    /* Asigno cuerpo por medio del relleno */
    padding: 8px 15px 8px 15px;
    /* Animo el paso del mouse*/
    transition: all linear 0.3s;
    /* Redondear bordes */
    border-radius: 3px;
}

.boton-principal:hover {
    color:aliceblue;
    background-color: var(--color-principal);
}



/* 4. Area destacada */
.



@media only screen and (max-width: 600px){
/* 2. Header / cabecera */
    #cabecera-principal{
        flex-direction: column;
    }

    /* 3. Enlaces / botones */
    nav[role=navigation]{
        width: 100%;
    }

    .boton-principal{
        display: block;
        width: 96%;
        margin: 5px 2% 0 2%;
        text-align: center;
        border-bottom: 1px solid var(--color-principal);
        border-radius: 0, 
    }
}

