/* Indice de estilo 


0. Generales / colores
1. Tipografia 
2. Header / cabecera
3. Enlaces / botones
4. Area destacada
5. Area experiencia
*/

/* 0. Generales / colores */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

:root{
    --color-principal: #2589e1;
    --color-acento: #f4a811;
    --color-tercer: #581dda;
    --color-parrafo:#2d2c2e;
}

img{
    width: 100%;
}

.elements-row{
    display: flex;
    justify-content: space-around;
}


/* 1. Tipografia */
.titulo-principal{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-principal);
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.titulo-secundario{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-principal);
    font-size: 22px;
}

.parrafo {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-parrafo);
    font-size: 14px;
}

.texto-oculto{
    display: none;
}




/* 2. Header / cabecera */
#cabecera-principal{
    padding: 20px 2% 20px 2%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--color-principal);
}



/* 3. Enlaces / botones */
.boton-principal{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-principal);
    font-size: 20px;
    text-decoration: none;
    padding: 8px 15px 8px 15px;
    transition: all linear 0.3s;
    border-radius: 3px;
}

.boton-principal:hover {
    color: aliceblue;
    background: uar(--color-principal);
}



/* 4. Area destacada */
#area-destacada {
   padding: 50px;
}

.articulo-index{
    /* Relleno top right bottom left */
    padding: 20px;
}

.articulo-index * {
    /* Relleno top right bottom left */
    margin: 0 0 10px 0;
}


.boton-ver-mas{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 15px 8px 15px;
    transition: all linear 0.3s;
    border-radius: 3px;
    background-color: var(--color-principal);
}


.boton-ver-mas:hover {
    color: aliceblue;
    background-color: var(--color-tercer);
}

/* 5. Area experiencia*/
#area-experiencia{
    padding: 100px 0;
    background-color: #2d2c2e;
}

#area-experiencia video{
    margin: 30px 5%;
}

/* Responsive */
@media only screen and (max-width: 600px){

    .elements-row {
        flex-direction: column;
         align-items: center;
    }

    /* 2. Header / cabecera */
    #cabecera-principal{
        flex-direction: column;
    }

    /* 3. Enlaces / botones */
    nav[role=navigation]{
        width: 100%;
    }

    .boton-principal{
        display: block;
        width: 96%;
        margin: 5px 2% 0 2%;
        text-align: center;
        border-bottom: 1px solid var(--color-principal);
        border-radius: 0;
    }

    /* 4. Area destacada */
    #area-destacada > div{
        flex-direction: column;
    }

    #area-destacada article{
        width: 100%;
    }
}